---
- name: Installer dépendances
  apt:
    name: [apt-transport-https, ca-certificates, curl, software-properties-common, gnupg]
    state: present
    update_cache: yes

- name: Ajouter la clé GPG officielle de Docker
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Ajouter le dépôt Docker pour Ubuntu 24.04
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable
    state: present

- name: Installer Docker Engine et containerd
  apt:
    name: [docker-ce, docker-ce-cli, containerd.io]
    state: present
    update_cache: yes

- name: Installer Docker Compose Plugin
  apt:
    name: docker-compose-plugin
    state: present

- name: Démarrer et activer Docker
  service:
    name: docker
    state: started
    enabled: yes
