---
- name: Installer dépendances
  apt:
    name: [apt-transport-https, ca-certificates, curl, software-properties-common]
    state: present
    update_cache: yes

- name: Ajouter la clé GPG officielle de Docker
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Ajouter le dépôt Docker
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Installer Docker Engine
  apt:
    name: [docker-ce, docker-ce-cli, containerd.io]
    state: present

- name: Installer Docker Compose
  get_url:
    url: "https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-linux-x86_64"
    dest: /usr/local/bin/docker-compose
    mode: '0755'

- name: Démarrer et activer Docker
  service:
    name: docker
    state: started
    enabled: yes
