---
- name: Supprimer les anciennes versions de Docker et containerd
  apt:
    name: [docker, docker-engine, docker.io, containerd, runc, containerd.io]
    state: absent
    purge: yes

- name: Installer les dépendances nécessaires
  apt:
    name: [apt-transport-https, ca-certificates, curl, software-properties-common, gnupg, lsb-release]
    state: present
    update_cache: yes

- name: Installer Docker via le script officiel
  shell: |
    curl -fsSL https://get.docker.com -o get-docker.sh
    sh get-docker.sh
  args:
    creates: /usr/bin/docker  # évite de réexécuter si déjà installé

- name: Installer Docker Compose Plugin
  apt:
    name: docker-compose-plugin
    state: present

- name: Démarrer et activer Docker
  service:
    name: docker
    state: started
    enabled: yes
